html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
  &:before, &:after {
    content: '';
    content: none;
  }
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.b-canvas {
  width: 960px;
  margin: 0 auto;
  font-family: Arial;
  font-size: 12px;
}

.b-header {
  height: 100px;
}

.b-header-top {
  height: 40px;
  line-height: 40px;
}

.b-icons {
  width: 240px;
  float: left;
  li {
    float: left;
    width: 32px;
    text-align: center;
    display: block;
    overflow: hidden;
    height: 32px;
    margin: 4px 24px;
  }
}

@mixin top_link {
  display: block;
  background: url("../images/bg-sprites.gif");
  text-indent: -10000px;
}

.l-home a {
  @include top_link;
  background-position: -240px 0;
  &:hover {
    background-position: -240px 32px;
  }
}

.l-contact a {
  @include top_link;
  background-position: -272px 0;
  &:hover {
    background-position: -272px 32px;
  }
}

.l-map a {
  @include top_link;
  background-position: -304px 0;
  &:hover {
    background-position: -304px 32px;
  }
}

.b-news {
  width: 640px;
  margin: 0 0 0 80px;
  float: right;
  text-align: right;
  p {
    background: #ffe100;
    display: inline;
    font-size: 11px;
    padding: 5px;
  }
}

.b-header-bottom {
  height: 60px;
}

.b-logo {
  width: 240px;
  float: left;
  margin: 0 80px 0 0;
  a {
    display: block;
    background: url("../images/bg-sprites.gif") no-repeat 0 0;
    height: 45px;
    text-indent: -10000px;
  }
}

.b-order {
  width: 320px;
  float: left;
  text-align: center;
}

.l-city {
  border-bottom: 1px dashed #000;
  cursor: pointer;
  padding: 0 10px 0 0;
  background: url("../images/bg-sprites.gif") no-repeat 52px -49px;
}

.l-tel {
  font-family: Georgia;
  font-size: 40px;
  font-style: italic;
  line-height: 36px;
}

.b-slogan {
  width: 320px;
  float: right;
  text-align: right;
  p {
    font-family: Georgia;
    font-style: italic;
    font-size: 32px;
  }
}

.l-slogan-bottom {
  font-size: 17px;
}

.b-body {
  clear: both;
}

.b-more {
  margin: 20px 0 30px 0;
  height: 100px;
  h2, h3, h4 {
    font-family: Georgia;
    font-style: italic;
    font-size: 30px;
    color: #333;
    line-height: 40px;
    a {
      color: #666;
      &:hover {
        background: #ffe100;
        color: #000;
      }
    }
  }
  h3 {
    padding: 0 0 0 80px;
    font-size: 20px;
    line-height: 30px;
  }
  h4 {
    padding: 0 0 0 160px;
    font-size: 18px;
    line-height: 25px;
  }
}

.b-more-left {
  float: left;
  width: 640px;
}

.b-more-right {
  float: right;
  width: 320px;
}

@mixin price {
  font-family: Georgia;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  line-height: 24px;
}

.l-price {
  @include price;
  margin: 5px 0 0;
}

.b-pizza {
  clear: both;
  li {
    width: 300px;
    margin: 20px 10px;
    float: left;
    text-align: center;
    a {
      color: #000;
      text-decoration: none;
    }
    h2 {
      @include price;
      margin: 0 0 5px;
    }
    h3 {
      font-weight: normal;
      font-size: 11px;
      margin: 0 0 10px;
    }
  }
}